
<div class="container">

 <div class=" row top-comment mt-5 top top_image">
  <div class="col-3">
   <%= render 'public/items/item_seatch'%>
  </div>
  <div class="toptext col-8" style="text-align:center;">
    </br>
    </br>
   ようこそ、ながのCAKEへ！</br>
   このサイトは NagaNo Cake店 の販売サイトです。</br>
   会員でない方も商品の閲覧はできますが、</br>
   購入には会員登録が必要になります。
  </div>

 </div>
 <div class="main-container">
    <div class="my-5">
      <h2>新着商品</h2>
    </div>
    <div class="container">
      <div class="main-box">
        <div class="row">
          <% @items.first(4).each do |item| %>
            <div class="col-m-3 mx-auto card ">
              <div class="image-link"><%= link_to "" do %>
              <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "no_image.jpg", size: "250x250" %></div>
              <% end %>
              <h5 class="text pt-5 text-center"><%= item.name %></h5>
              <p class="text text-center">￥<%= item.price.to_s(:delimited) %></p>
            </div>
          <% end %>
        </div>
      </div>
</div>
