 <%= render 'layouts/error', model: @customer %>
 <div class="container">
  <div class="row mb-5">
    <h2 class="my-4 title-text">
     <%= @customer.last_name + @customer.first_name %>さんの会員情報編集
    </h2>
   <div class="col-12">
    <%= form_with model: @customer, url: admin_customer_path(@customer.id), local:true do |f| %>
    <div class="form-group row">
          <%= f.label :id, "会員ID", class: "col-3" %>
          <div class="col=8">
            <%= f.label :id, @customer.id, class: "ml-4" %>
          </div>
        </div>
   <div class="form-group row">
    <div class="col-2 text">
     <%= f.label "名前" %>
    </div>
    <div class="offset-1 col-3">
     <%= f.text_field :last_name,class: "w-100" %>
    </div>
    <div class="col-3">
     <%= f.text_field :first_name,class: "w-100" %>
    </div>
   </div>

   <div class="form-group row">
    <div class="col-2">
     <%= f.label :last_name_kana, "フリガナ" %>
    </div>
    <div class="offset-1 col-3">
     <%= f.text_field :last_name_kana,class: "w-100" %>
    </div>
    <div class="col-3">
     <%= f.text_field :first_name_kana,class: "w-100" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
     <%= f.label :post_code, "郵便番号（ハイフンなし）" %>
    </div>
    <div class="col-3">
     <%= f.text_field :post_code, class: "w-100" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2">
     <%= f.label :address, "住所" %>
    </div>
    <div class="col-1">
    </div>
    <div class="col-7">
     <%= f.text_field :address,class: "w-100" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-3">
     <%= f.label :phone_number, "電話番号（ハイフンなし）" %>
    </div>
    <div class="col-3">
     <%= f.text_field :phone_number,class: "w-100" %>
    </div>
  </div>
  <div class="form-group row">
   <div class="col-2">
     <%= f.label :email, "メールアドレス" %>
   </div>
   <div class="col-1">
   </div>
   <div class="col-3">
    <%= f.email_field :email,class: "w-100" %>
   </div>
  </div>
   <div class="form-group row">
    <%= f.label :is_active, "会員ステータス", class: "col-3" %>
     <div class="mb-5 ml-3">
       <%= f.radio_button :is_active, true%>
       <%= f.label :is_active, "有効", value: true%>
       <%= f.radio_button :is_active, false%>
       <%= f.label :is_active, "退会済", value: false%>
     </div>
    </div>

          <%= f.submit "変更を保存", class: "btn btn-success offset-lg-2" %>
        </div>
     <% end %>
    </table>
   </div>
  </div>
</div>



