<div class="container">
 <h3 class="offset-lg-2 title-sub-text mt-5">ジャンル編集</h3>
  <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
   <div class="m-5 row-8">
    <span class="mr-5">ジャンル名</span>
    <span><%= f.text_field :name%></span>
    <%= f.submit "新規登録", class: "btn btn-success ml-5"%>
   </div>
  <% end %>
<div class="row">
  <table class="offset-1 table col-md-5 border table-hover">
   <thead>
    <tr class="table-active">
     <th>ジャンル</th>
     <th></th>
    </tr>
   </thead>
   <% @genres.each do |genre| %>
   <tbody>
    <tr>
     <td><%= genre.name %></td>
     <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-block"%></td>
    </tr>
   </tbody>
   <% end %>
   <%= paginate @genres %>
  </table>
 </div>
</div>