<div class="container">
    <div class="my-5">
    <% if params[:order] ==  'seatch' %>
     <h2><%= @genres.name %>一覧<span class="itemcount">(<%= @items.total_count %>件)</span></h2>
    </div>
    <% else %>
     <h2>商品一覧<span class="itemcount">(<%= @items.total_count %>件)</span></h2>
    </div>
    <% end %>
   <div class="row">
    <% @items.each do |item| %>
     <div class="col-m-2 mb-5 mx-auto card shadow">
       <div class="image-link">
        <%= link_to item_path(item.id) do %>
         <%= attachment_image_tag item, :image, :fill, 200, 200, fallback: "no_image.jpg", size: "250x250" %>
        <% end %>
       </div>
       <h5 class="text pt-2 text-center"><%= item.name %></h5>
       <p class="text text-center">￥<%= item.price.to_s(:delimited) %></p>
     </div>
     <% end %>
     <div class="offset-5 mt-5">
    <%= paginate @items %>
   </div>
  </div>
 </div>
