<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <header>
      <% if customer_signed_in? %>
        <%= render 'layouts/header_public' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% else %>
        <%= render 'layouts/header_logout' %>
      <% end %>
      <%= render 'layouts/flash'%>
    </header>
 <%= yield %>

<footer class="m-5 border-top" style="background-color: #ffffff;">
      <div class="row">
        <div class="offset-5 mt-5">
          <p>© Copyright NaganoCake.inc</p>
        </div>
      </div>
    </footer>
  </body>
</html>

